<fieldset>
  <Legend>Navigation</Legend>

<div class="navbar"><%= link_to 'Administration', users_path, admin: true %></div>
<div class="navbar"><%= link_to 'Ordermanagement', orders_path %></div>
<div class="navbar"><%= link_to 'Customermanagement', customers_path %></div>
</fieldset>
<br>
<br>
<fieldset>
<h1>This will be the landing Page!</h1>
</fieldset>
