<fieldset>
  <Legend>Navigation</Legend>

<div class="navbar"><%= link_to image_tag("administration.JPG", size: "70x70", alt: "Administration"), users_path, admin: true, :title => "Administration" %></div>
<div class="navbar"><%= link_to image_tag("auftragsverwaltung.JPG", size: "70x70", alt: "Ordermanagement"), orders_path, :title => "Ordermanagement" %></div>
<div class="navbar"><%= link_to image_tag("adressverwaltung.JPG", size: "70x70", alt: "Customermanagement"), customers_path, :title => "Customermanagement" %></div>
<div class="navbar"><%= link_to 'Profil', current_user %></div>
</fieldset>
<br>
<br>
<fieldset>
<h1>This will be the landing Page!</h1>
</fieldset>
