<div class="border">
<fieldset>
<legend>Bestellung / Auftrag bearbeiten:</legend>

<%= render 'form', order: @order %>

<%= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>
</fieldset>
</div>
