<p id="notice"><%= notice %></p>

<div class="border">
  <fieldset>
    <legend>Auftragsdaten:</legend>
  <h3><b><u> </u></b></h3><br>
  <%= render 'form', order: @order %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
</fieldset>
</div>
